<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ParcelJS</title>
    <link rel="stylesheet" href="./assets/css/app.sass">
</head>
<body>
    <h1>Olá Parcel com Pug</h1>
    <button class="btn js-myBtn">Clicar</button>
    <script src="./assets/js/app.ts"></script>
</body>
</html>